@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,600;1,100&display=swap');

$body-font:  'Montserrat', sans-serif;
$headers-font:  'Montserrat', sans-serif;

$font-family-sans-serif:  $body-font;
$headings-font-family:    $headers-font;
